.shop {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

/* .watches {
  border: 2px solid seagreen;
  background-color: burlywood;
}

.selected-items {
  border: 2px solid blueviolet;
  background-color: brown;
} */

@media (max-width:768px) {
  .shop {
    display: flex;
    flex-direction: column;
  }
  .watches {
    order: 2;
  }
  .selected-items {
    margin-bottom: 50px;
    margin-top: 20px;
  }
}